openai
#pyttsx3
python-dotenv
streamlit
numpy
streamlit-audiorecorder
av
ffmpeg
#PyAudio
#pydub
wave
soundfile
sounddevice
numpy
ffmpeg-python
python-ffmpeg
#openai-whisper
#git+https://github.com/openai/whisper.git 
scipy
